body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-gemunu-libre: "Gemunu Libre";
  --font-outfit: Outfit;
  --font-oregano: Oregano;
  --font-josefin-sans: "Josefin Sans";
  --font-jomhuria: Jomhuria;
  --font-inter: Inter;
  --font-rock-salt: "Rock Salt";

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-31xl: 50px;
  --font-size-21xl: 40px;
  --font-size-xl: 20px;
  --font-size-51xl: 70px;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-cornflowerblue: #6eb5ff;
  --color-lightsteelblue: #b0c4de;
  --color-lightskyblue: #aed6ff;
  --color-lightgray: #ccc;
  --color-tan: #b8936a;

  /* Border radiuses */
  --br-31xl: 50px;
  --br-301xl: 320px;
  --br-21xl: 40px;
}
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-gemunu-libre: "Gemunu Libre";
  --font-inherit: inherit;
  --font-outfit: Outfit;

  /* font sizes */
  --font-size-26xl: 45px;
  --font-size-31xl: 50px;
  --font-size-71xl: 90px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-gainsboro-100: #d9d9d9;
  --color-black: #000;
  --color-gray: rgba(0, 0, 0, 0.22);
  --color-white: #fff;
  --color-royalblue: #3e82fc;
  --color-lightskyblue: #aed6ff;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-881xl: 900px;
  --br-31xl: 50px;
}
